@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
}


.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 150px;


}

.nav-container button {
    width: 225px;
    height: 50px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid rgb(13, 19, 33);
    padding: 17px 24px 17px 24px;
}

.nav-container h3 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
}

.banner {
    width: 1520px;
    height: 652px;
    background-image: url(/challenges/assets/Hero-bg.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;

}

.banner-container {
    width: 998px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-quote {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 44px;
    font-weight: 800;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
}

/* shared style */
.description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;


}

.contact-button {
    width: 240px;
    height: 60px;
    border-radius: 8px;
    padding: 21px 24px 21px 24px;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 17px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;

    background: rgb(13, 19, 33);
}

.main {
    width: 946px;
    margin: 0 auto;
}

.web-development {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;


}

.web-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;

}

.coding {

    display: flex;
    justify-content: space-between;
    padding: 20px;

}

.coding-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;


}

.coding-title {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;

}

.coding-button {
    width: 171px;
    height: 47px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px 12px 20px;
}